* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family: "Zilla Slab";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 252, 252)
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(111, 218, 226);
    height: 5em;
    min-width: 24em;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.header-text {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: white;
    padding: 1em;
}

.main {
    background-color: rgba(111, 218, 226, 0.15);
    padding: 1em;
    border: 1px solid rgba(111, 218, 226, 0.25);
}

.form-container {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 245, 253);
    padding: 0.9em;
    box-sizing: border-box;
    border: 1px solid #1dcaff;
    border-radius: 0.2em;
}

.form-container-img {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    margin-right: .9em;
}

.textarea {
    border-color: #a4d9f9;
    border-radius: .5em;
    border: 1px solid #1dcaff;
}

.submit-button {
    background-color: rgb(74, 179, 244);
    cursor: pointer;
    color: white;
    width: 8em;
    height: 3em;
    border-radius: .9em;
    margin-top: .4em;
}

.graph {
    width: 24em;
    min-height: 30em;
    position: relative;
}

.slider-header {
    display: flex;
    justify-content: space-evenly;
}

.slider {
    margin: 1em;
}

.noUi-connect {
    background: rgb(111, 218, 226);
}

.bold {
    font-weight: bold;
}

.watson-chart {
    display: flex;
}

.loading-text {
    color: rgb(111, 218, 226);
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right:0;
}

.loading-letter {
    display: none;
    color: rgb(111, 218, 226)
}

.dark-outline {
	text-shadow:
		-1px -1px 0 rgba(85, 166, 172, 0.836),
		1px -1px 0 rgba(85, 166, 172, 0.836),
		-1px 1px 0 rgba(85, 166, 172, 0.836),
		1px 1px 0 rgba(85, 166, 172, 0.836)
}

.light-outline {
    text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF
}

.show {
    display: flex;
    color: rgb(111, 218, 226)
}

.hidden {
    display: none;
}

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
}

.tweets-modal {
    position: fixed;
    z-index: 200;
    top: 40%;
    left: 40%;
    width: 20%;
    background: white;
}

.display-block {
    display: block;
}

@media (min-width: 768px) {
  .graph {
    width: 30em;
    min-height: 34em;
  }
    .header {
        min-width: 30em;
    }
}


@media (min-width: 1200px) {
    .graph {
        width: 50em;
        min-height: 54em;
    }
    .header {
        min-width: 50em;
    }
}