* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family: "Zilla Slab";
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 252, 252)
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(111, 218, 226);
    height: 5em;
    min-width: 24em;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

.header-text {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: white;
    padding: 1em;
}

.main {
    flex-grow: 1;
    background-color: rgba(0, 238, 255, 0.15);
    padding: 1em;
    border: 1px solid rgba(111, 218, 226, 0.25);
}

.tweet-content {
    padding-bottom: 1em;
}

.form-container {
    margin: 1em auto;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 245, 253);
    padding: 0.9em;
    box-sizing: border-box;
    border: 1px solid #1dcaff;
    border-radius: 0.2em;
}

.form-container-img {
    height: 2.6em;
    width: 2.6em;
    border-radius: 50%;
    margin-right: .9em;
}

.textarea {
    border-color: #a4d9f9;
    border-radius: .5em;
    border: 1px solid #1dcaff;
}

.submit-button {
    background-color: rgb(74, 179, 244);
    cursor: pointer;
    color: white;
    width: 8em;
    height: 3em;
    border-radius: .9em;
    margin-top: .4em;
}

.graph {
    width: 24em;
    position: relative;
}

.slider-header {
    display: flex;
    justify-content: space-evenly;
}

.slider {
    margin: 1em;
    color: rgb(111, 218, 226);
}

.bold {
    font-weight: bold;
}

.watson-chart {
    display: flex;
}

.loading-text {
    color: rgb(111, 218, 226);
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right:0;
}

.loading-letter {
    display: none;
    color: rgb(111, 218, 226)
}

.button {
    background-color: rgba(85, 166, 172, 0.836);
    cursor: pointer;
    color: white;
    width: 8em;
    height: 3em;
    border-radius: .9em;
    margin-top: .4em;
}

.approve-button {
    width: 8.5em;
    height: 3.5em;
   
}

.modal-approval-button {
    border-radius: 0.9em;
    height: 1.4em;
    width: 5em;
    background-color: rgba(85, 166, 172, 0.836);
    color: black;
    text-align: center;
}

.dark-outline {
	text-shadow:
		-1px -1px 0 rgba(85, 166, 172, 0.836),
		1px -1px 0 rgba(85, 166, 172, 0.836),
		-1px 1px 0 rgba(85, 166, 172, 0.836),
		1px 1px 0 rgba(85, 166, 172, 0.836)
}

.light-outline {
    text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF
}

.show {
    display: flex;
    color: rgb(111, 218, 226)
}

.hidden {
    display: none;
}

.tweet-list {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    list-style-type: none;
    width: 20em;
    height: 20em;
    overflow-y: auto;
    background-color: rgb(249, 252, 252);
    color: black;
    border-radius: 0.5em;
    padding: 0.5em;
}

.spacer {
    flex-grow: 1;
}

.approved {
    background-color: rgba(0, 238, 255, 0.15);
}

.blue {
    color: rgb(111, 218, 226);
}

.list-item-contents {
    display: flex;
}

.trash-icon {
    width: 1em;
    height: 1em;
}

.modal-backdrop {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.overflow-hidden {
    overflow: hidden;
}

.approvals-modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweets-modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.9em;
}

.close-button {
    font-size: 5em;
    position: absolute;
    top: -.5em;
    right: -.5em;
}

.pointer {
    cursor: pointer;
}

.display-flex {
    display: flex;
}

@media (min-width: 768px) {
  .graph {
    width: 30em;
  }
    .header {
        min-width: 30em;
    }
}


@media (min-width: 1200px) {
    .graph {
        width: 50em;
    }
    .header {
        min-width: 50em;
    }
}